a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.options {
  position: absolute;
  padding: 0;
  z-index: 5;
  list-style-type: none;
  overflow-y: auto;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  background: #ffffff;
}

.result {
  height: 30px;
  padding: 4px;
  width: 100%;
}

.input {
  width: 100%;
}