#chat-message-container {
    height: 65vh;
    overflow: auto;

    .chat-message {
        word-wrap: break-word;
        width: calc(100%);
        margin-bottom: 5px;
    }

    .chat-message-body {
        padding: 8px;
    }

    .date {
        font-size : 80%;
    }

    .name {
        font-weight: bold;
    }
}

.chat-overview {
    box-shadow: 1px 0 0 #ccc;
    height: 75vh;

  .btn-add-group {
      margin: 5px 0;
  }
}

.chat-col {
    padding: 0 10px;

    .message-input {
      margin-top: 10px;
    }
}

.room-container {

    .roomname {
        font-weight: 600;
    }

    .room-content {
        height: 100%;
        padding: 8px;
    }

    margin-bottom: 1px;
    height: 50px;
    width: calc(100%);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 2px;
    border-color: #000;
    background-color: #eee

    p {
        margin: 0;
    }

    &.selected {
        background-color: #eee;
    }

    .edit-room-actions {
        padding: 8px;
        text-align: right;
        height: 100%;
        i {
            cursor: pointer;
        }
    }
    a {
        cursor: pointer;
    }
    .most-recent-message {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 11px;
    }
}
