<div>
  <label>User</label>
  <searchField
    (update)="term = $event"
    (keyup)="searchForUser(term)"
    [callbackOnSelection]="callbackOnSelection"
    [results]="users">
  </searchField>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
<div id="chat-message-container">
  <div class="chat-message" *ngFor='let message of currentMessages'>
    [{{message.date.toLocaleString()}}] => {{message.userName}}: {{ message.message }}
  </div>
</div>
<form (ngSubmit)="send()" style="margin: 10px 0">
  <input type="text" [(ngModel)]="text" class="form-control"
    placeholder="Enter message..." [ngModelOptions]="{standalone: true}">
</form>
<div>
  <span>Change room: </span>
  <div id="change-room-btn-container">
    <button *ngFor='let room of rooms' (click)="setCurrentRoom(room)">
      {{room}}
    </button>
  </div>
</div>