<div class="row">

  <div class="col-md-4">

    <div id="user-search-container">
      <searchField
        (update)="term = $event"
        (keyup)="searchForUser(term)"
        [privateChatCallback]="privateChatCallback"
        [groupChatCallback]="groupChatCallback"
        [results]="users">
      </searchField>
      <button class="btn btn-link" (click)="fetchUsersForGroupChatSelectionAndOpenDialog()">Neuer Grupperchat</button>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </div>

    <div id="room-container">
      <div *ngFor='let room of rooms' (click)="setCurrentRoom(room)">
        <div class="room-container" [ngClass]="{ 'selected': room.roomName == currentRoom.roomName }">
          <p>{{ room | roomName }}</p>
          <small>{{ room.messages.length > 0 ? room.messages[room.messages.length - 1].message : "..." }}</small>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-8 pull-right">
    <div *ngIf="currentRoom" id="chat-message-container">
      <div class="chat-message" *ngFor='let message of currentRoom.messages'>
        [{{ message.creationDate | jdate }}] => {{message.userName}}: {{ message.message }}
      </div>
    </div>
    <form (ngSubmit)="send()" style="margin: 10px 0">
      <input type="text" [(ngModel)]="text" class="form-control"
        placeholder="Enter message..." [ngModelOptions]="{standalone: true}">
    </form>
  </div>

</div>

<!-- Modal for creating group chat -->
<div id="chat-modal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Gruppenchat</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="groupDisplayName">Name des Chats</label>
            <input id="groupDisplayName" type="text" [(ngModel)]="groupChatDisplayName" class="form-control"
              placeholder="Weihnachtsfeier im Artemis" required>
          </div>

          <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                  <h4>Füge Teilnehmer hinzu</h4>
                  <div *ngFor="let user of groupChatUsers">
                    <div>
                      <a class="group-user-selection" (click)="addUserToSelectedGroupUsers(user)">&#43;</a>
                      {{ user.firstName }} {{ user.lastName }} ({{ user.userName }})
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <h4>Hinzugefügt: {{ selectedGroupChatUsers.size }}</h4>
                  <div *ngFor="let user of selectedGroupChatUsers">
                    <a class="group-user-selection" (click)="removeUserFromSelectedGroupUsers(user)">&#8722;</a>
                    {{ user.userName }}
                  </div>
                </div>
              </div>
          </div>
          
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="startGroupChat()">OK</button>
      </div>
    </div>
  </div>
</div>