<modal-dialog title="Gruppenchat">

  <div modal-body>

    <div class="form-group">
      <label for="groupDisplayName">Name des Chats</label>
      <input id="groupDisplayName" type="text" [(ngModel)]="displayName" class="form-control"
        placeholder="Weihnachtsfeier im Artemis" required>
    </div>

    <div class="container-fluid">
      <user-selection 
        [users]="fetchedUsers"
        [selectedUsers]="selectedUsers"
        [displayUser]="displayUser"
        [displaySelectedUser]="displaySelectedUser"
        [canRemoveUsers]="!isInEditMode">
      </user-selection>
    </div>

  </div>

  <div modal-footer>
    
    <button *ngIf="!isInEditMode" class="btn btn-primary" (click)="startGroupChat()">OK</button>
    <button *ngIf="isInEditMode" class="btn btn-primary" (click)="editRoom()">Bearbeiten</button>

  </div>
  
</modal-dialog>