@import "../variables";

.link {
  color: #fff;
  border-radius: 0px;
}

a:hover {
  background-color: $PIMP_ORANGE !important;
  color: #000 !important;
}

.link.active {
  background-color: $PIMP_ORANGE !important;
  color: #000 !important;
}

li {
  margin: 0 !important;
}

.container-fluid {
  background-color: #444;
  border: solid #444;
  border-width: 15px 15px 0 0;
  min-height: 100vh;
}

.pimp-navbar {
  box-shadow: 1px 0 0 #ccc;
  padding: 0px;
}

.pimp-content {
  background-color: #fff;
  padding: 15px;
}
