<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 pimp-navbar">

      <ul class="nav nav-pills nav-stacked">
        <li> <a routerLink="/chat" routerLinkActive="active" class="link">
          <i class="fa fa-weixin"></i>
          Chat
        </a> </li>
        <li> <a routerLink="/calendar" routerLinkActive="active" class="link">
          <i class="fa fa-calendar"></i>
          Kalender
        </a> </li>
        <li> <a routerLink="/profile" routerLinkActive="active" class="link">
          <i class="fa fa-user"></i>
          Profil
        </a>  </li>
        <li> <a routerLink="/admin" routerLinkActive="active" *ngIf="authService.isAdmin()" class="link">
          <i class="fa fa-users"></i>
          Teams & Projekte
        </a></li>
        <li> <a routerLink="/login" routerLinkActive="active" (click)="logout()" class="link">
          <i class="fa fa-sign-out"></i>
          Logout
        </a> </li>
      </ul>
    </div>

    <div class="col-xs-10 pimp-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
