<modal-dialog title="{{ modalTitle }}">

  <div modal-body>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="eventTitle">Titel</label>
          <input id="eventTitle" placeholder="Daily Scrum" type="text" class="form-control" [(ngModel)]="event.title" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="calendarKey">Kalender</label>
          <br>
          <select *ngIf="!inEditingMode" class="form-control" id="calendarKey" [(ngModel)]="event.calendarKey" required>
            <option *ngFor="let cal of calendars" value="{{cal.key}}">{{cal.title}}</option>
          </select>
          <input *ngIf="inEditingMode" class="form-control" id="calendarKey" value="{{calendarTitle}}" disabled>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="eventPlace">Ort</label>
          <input type="text" class="form-control" placeholder="Raum 169" value="{{event.place}}" [(ngModel)]="event.place">
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="eventDescription">Beschreibung</label>
          <textarea class="form-control" [(ngModel)]="event.description">{{event.description}}</textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="event.isPrivate">Privater Termin?</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="event.allDay">Ganztägiger Termin?</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="eventStart">Beginn</label>
          <datetime id="eventStart" [datepicker]="datepickerOpts" [timepicker]="getTimePickerOpts()" (ngModelChange)="updateEndDate($event)" [(ngModel)]="event.start"></datetime>
        </div>
      </div>

      <div class="col-md-6">
        <label for="eventEnd">Ende</label>
        <datetime id="eventEnd" [datepicker]="datepickerOpts" [timepicker]="timepickerOpts" [(ngModel)]="event.end"></datetime>
      </div>

      <div *ngIf="!event.isPrivate" class="col-md-12">
        <user-invitation
          (update)="onSelectedUsersUpdate($event)"
          [users]="users"
          [invited]="invited"
          [declined]="declined"
          [participants]="participants"
          [displayUser]="displayUser"
          [canRemoveUsers]="!inEditingMode">
        </user-invitation>
      </div>
    </div>
  </div>

  <div modal-footer>
    <button *ngIf="inEditingMode" class="btn pimp-btn" (click)="deleteEvent()">Löschen</button>
    <button class="btn pimp-btn" (click)="saveEvent()">Speichern</button>
  </div>

</modal-dialog>
