<div id="calendar-event-editor-modal" class="modal fade">
  <div class="modal-dialog modal-lg" role="document">
    <div *ngIf="isEvent" class="modal-content">

      <div class="modal-header centered-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Termin bearbeiten</h2>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="eventTitle">Termin</label>
          <input id="eventTitle" type="text" class="form-control" [(ngModel)]="event.title" required>
        </div>
        <div class="form-group">
          <label for="eventStart">Beginn</label>
          <!-- readonly because date should be edited via datetime-picker only -->
          <input id="eventStart" type="text" class="form-control" [(ngModel)]="eventStart" ng2-datetime-picker date-format="DD.MM.YYYY hh:mm" close-on-select="false" placeholder={{start}} readonly/>
        </div>
        <div class="form-group">
          <label for="eventEnd">Ende</label>
          <!-- readonly because date should be edited via datetime-picker only -->
          <input id="eventEnd" type="text" class="form-control" [(ngModel)]="eventEnd" ng2-datetime-picker date-format="DD.MM.YYYY hh:mm" close-on-select="false" placeholder={{end}} readonly/>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="deleteEvent()">Löschen</button>
        <button class="btn btn-primary" (click)="saveEvent()">Speichern</button>
      </div>
    </div>

    <div *ngIf="!isEvent" class="modal-content">
    
      <div class="modal-header centered-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title">Kalender erstellen</h2>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="calendarTitle">Name</label>
          <input id="calendarTitle" placeholder="Designabteilung" type="text" class="form-control" [(ngModel)]="calendar.title" required>
        </div>
        <div class="form-group">
          <label for="isPrivate">Handelt es sich um einen privaten Kalender?</label>
          <div class="form-check">
            <label>
              <input id="isPrivate" type="checkbox" class="form-check-input" [(ngModel)]="calendar.isPrivate" /> Privater Kalender
            </label>
          <div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="createCalendar()">Erstellen</button>
      </div>

    </div>

  </div>
</div>
