<modal-dialog title="Kalender erstellen">

  <div modal-body>
    <div class="form-group">
      <label for="calendarTitle">Name</label>
      <input id="calendarTitle" type="text" class="form-control" placeholder="Team DevOps" [(ngModel)]="calendar.title" required>
    </div>
    <div class="form-group">
      <label for="isPrivate">Handelt es sich um einen privaten Kalender?</label>
      <div class="form-check">
        <label>
          <input id="isPrivate" type="checkbox" class="form-check-input" [(ngModel)]="calendar.isPrivate" />
          Privater Kalender
        </label>
      </div>
    </div>
  </div>

  <div modal-footer>
    <button class="btn btn-primary" (click)="createCalendar()">Erstellen</button>
  </div>
  
</modal-dialog>