<div class="col-md-6 col-md-offset-3">
  <h2>Profil</h2>
  <div class="row">
    <div class="col-md-2">Name: </div>
    <div class="col-md-10" id="username">username</div>
    <div class="col-md-2">Telefon: </div>
    <div class="col-md-10" id="phonenumber">0123456789</div>
    <div class="col-md-2">E-Mail: </div>
    <div class="col-md-10" id="email">example@example.com</div>
    <div class="col-md-2">Status: </div>
    <div class="col-md-10" id="state">Abwesend</div>
    <div class="col-md-2">Team: </div>
    <div class="col-md-10" id="teams">Arbeitsgruppe 1</div>
    <div class="col-md-2">Projekt: </div>
    <div class="col-md-10" id="project">Spring</div>
  </div>
</div>
