.col-md-2 {
  margin-bottom: 5px;
  font-weight: 700;
}

.col-md-6 {
  margin-bottom: 5px;
}

a {
  cursor: pointer;
  color: #ea4d2a;
}

#fileUploadInput {
    right: 0;
    margin: 12px 0;
    padding: 0;
}

.profile-content {
  height: 95vh;
}

.error {
  font-size: small;
  color: red;
}

