<h1 *ngIf="error">{{ error }}</h1>

<div *ngIf="user" class="col-md-8 col-md-offset-2">
  <h2>{{ user.userName }}</h2>
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="user.photoData">
        <img [src]="user.photoData" width=200 height=200  alt="Profile image of {{ user.firstName }}">
        <input class="fileUploadBtn" *ngIf="isPrivate" name="photoFile" (change)="fileChangeEvent($event)" type="file"/>
        <i title="Hochladen" class="fa fa-cloud-upload" aria-hidden="true" 
          *ngIf="photoFile" (click)="uploadPhoto()">
        </i>
      </div>
      <div *ngIf="user && !user.photoData">
        <img src="https://placekitten.com/g/200/200"  alt="Profile image of {{ user.firstName }}">
        <input class="fileUploadBtn" name="photoFile" *ngIf="isPrivate" (change)="fileChangeEvent($event)" type="file"/>
        <i title="Hochladen" class="fa fa-cloud-upload" aria-hidden="true" 
          *ngIf="photoFile" (click)="uploadPhoto()">
        </i>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <td class="col-md-4"><strong>Name</strong></td>
          <td class="col-md-8">{{ user.firstName }} {{ user.lastName }}</td>
        </tr>
        <tr>
          <td class="col-md-4"><strong>Email</strong></td>
          <td class="col-md-8"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        </tr>
        <tr>
          <td class="col-md-4"><strong>Status</strong></td>
          <td class="col-md-8">
            <inline-edit [isEditable]="isPrivate" [text]="user.status" (edit)="onEditStatus($event, i)"></inline-edit>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h2>Teams</h2>

  <div class="panel-group" id="accordion">
    <div *ngFor="let team of teams" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{team.key}}">{{ team.name }}</a>
        </h4>
      </div>
      <div id="collapse-{{team.key}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div *ngFor="let userName of team.userNames">
            <a *ngIf="userName !== userService.currentUser.userName" routerLink="/profile/{{userName}}">{{userName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Projekte</h2>

  <div class="panel-group" id="accordion">
    <div *ngFor="let project of projects" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{project.key}}">{{ project.name }}</a>
        </h4>
      </div>
      <div id="collapse-{{project.key}}" class="panel-collapse collapse">
        <div class="panel-body">
          <div *ngFor="let userName of project.userNames">
            <a *ngIf="userName !== userService.currentUser.userName" routerLink="/profile/{{userName}}">{{userName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="isPrivate">This is private stuff and can only be seen by me!</p>
</div>
