<div>
    <p *ngIf="!notifications || notifications.length == 0">Keine Neuigkeiten. Sehr gut!</p>
    <div class="well well-sm notification" *ngFor="let notification of notifications">
        <div *ngIf="(notification.type === 'EVENT_UPDATE')">
            <a routerLink="/calendar/event/{{ notification.referenceKey }}"> Termin </a> wurde aktualisiert: {{ notification.message }}
            <a (click)="acknowledgeNotification(notification)"> <i class="close-notification fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div *ngIf="notification.type === 'EVENT_INVITATION'">
            {{ notification.sendingUser }} läd sie zum Termin <a routerLink="/calendar/event/{{ notification.referenceKey }}"> {{ notification.message }} </a> ein.
            Nehmen Sie teil?
            <a (click)="handleInvitation(true, notification)"> Ja </a>
            <a (click)="handleInvitation(false, notification)"> Nein </a>
        </div>
        <div *ngIf="notification.type === 'NEW_MESSAGE'">
            You got a new private chat message from {{notification.sendingUser}}
            <a (click)="acknowledgeNotification(notification)"> <i class="close-notification fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div *ngIf="notification.type === 'NEW_CHAT'">
            Neuer Chat mit {{notification.sendingUser}}
            <a (click)="acknowledgeNotification(notification)">  <i class="close-notification fa fa-times" aria-hidden="true"></i></a>
        </div>
    </div>
</div>