/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/dist/css/angular-calendar.css";

$PIMP_ORANGE: #ea4d2a;
$PIMP_ORANGE_DARK: #952E17;

.centered-content {
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

div.inline {
    display: inline-block;
}

.stretched-content {
    height: 93vh;
}

.form-control.invalid-params {
    animation: shake .5s linear;
    -webkit-animation: shake .5s linear;
    -moz-animation: shake .5s linear;
}

a {
  cursor: pointer;
  color: $PIMP_ORANGE !important;
  &.hover {
      color: $PIMP_ORANGE_DARK !important;
  }
}

i.fa {
    cursor: pointer;
}

.btn-with-margin {
    margin-bottom: 10px;
    width: 100%;
}

.pimp-btn {
    background-color: $PIMP_ORANGE;
    border-color: $PIMP_ORANGE_DARK;
}

.btn {
    &.active {
        color: #fff;
    }

    &.active, &.focus, &.hover {
        background-color: $PIMP_ORANGE_DARK;
    }
}

@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes shake {
    8%, 41% {
        -moz-transform: translateX(-10px);
    }
    25%, 58% {
        -moz-transform: translateX(10px);
    }
    75% {
        -moz-transform: translateX(-5px);
    }
    92% {
        -moz-transform: translateX(5px);
    }
    0%, 100% {
        -moz-transform: translateX(0);
    }
}

@keyframes shake {
    8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}
