<modal-dialog title="Termin: {{event.title}}">

  <div modal-body>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table">
          <tr>
            <td class="col-md-6"><strong>Kalender</strong></td>
            <td class="col-md-6">{{ calendarTitle }}</td>
          </tr>
          <tr>
            <td class="col-md-6"><strong>Beginn</strong></td>
            <td class="col-md-6">{{ formatDate(event.start) }}</td>
          </tr>
          <tr>
            <td class="col-md-6"><strong>Ende</strong></td>
            <td class="col-md-6">{{ formatDate(event.end) }}</td>
          </tr>
          <tr>
            <td class="col-md-6"><strong>Ort</strong></td>
            <td class="col-md-6">{{ event.place }}</td>
          </tr>
          <tr>
            <td class="col-md-6"><strong>Beschreibung</strong></td>
            <td class="col-md-6">{{ event.description }}</td>
          </tr>
          <tr>
            <td class="col-md-6"><strong>Ersteller des Termins</strong></td>
            <td class="col-md-6"><a routerLink="/profile/{{ event.creator }}">{{ event.creator }}</a></td>
          </tr>
        </table>

        <hr/>

        <div class="col-md-6">
          <h4 class="centered-content">Teilnehmer</h4>
          <div class="max-height-list">
            <span *ngFor="let participant of event.participants">
              <a (click)="navigateToUser(participant)">{{ participant }}</a>&nbsp;
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="centered-content">Eingeladene</h4>
          <div class="max-height-list">
            <span *ngFor="let participant of event.invited">
              <a (click)="navigateToUser(participant)">{{ participant }}</a>&nbsp;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showButtons()" modal-footer>
    <button class="btn pimp-btn" (click)="acceptOrDeclineInvitation(true)">Teilnehmen</button>
    <button class="btn btn-default" (click)="acceptOrDeclineInvitation(false)">Ablehnen</button>
  </div>

</modal-dialog>